<div class="container">

  <% if @error %>
    <p class="error_msg"><%= @error %></p>
  <% end %>

  <form action="/accounts/login" method="post">
    <br>
    Username:<br>
    <input type="text" name="username" style="width:75%"> (Required)
    <br><br>
    Password:<br>
    <input type="password" name="password" style="width:75%"> (Required)
    <br><br>
    <br>
  <input type="submit" value="Log in">
  </form>
</div>